@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

body {
  background-color: #fdfdfc; /* of-white background */
  color: #171717;            /* default dark text */
  padding-bottom: calc(64px + env(safe-area-inset-bottom)); /* space for floating navbar */
  font-family: 'Times New Roman', Times, serif;
}

/* Sleek scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* REMOVE UP/DOWN ARROWS */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 transparent;
}

@media (max-width: 600px) {
  body {
    padding-bottom: calc(80px + env(safe-area-inset-bottom));
  }
}